body {
    font-size: large;
    font-family: 'Bellefair', serif;
}

button, input {
    font-family: 'Source Sans Pro', sans-serif;
}

#main {
    max-width: 600px;
    margin: 0 auto; 
}

#sample-text {
    margin-top: 5em;
}

.controls {
    margin: 1em;
}

.controls button {
    margin-right: 0.25em;
}
